<html>
 <h1>Books</h1>
 <% @books.each do |book| %>
 <table>
  <header>
    <div>
      <th>Title</th>
       <%= @book.title %>
       <span><%= book.title %></span>
      <th>Body</th>
      <th colspan="3"></th>
       <%= @blog.body %>
       <% end %>
    </div>
  </header>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="1LoEC9w9Y1YLB+0hY4Ui+mH4tlvC66x49Y+Ht26hheQN3hdnWGoHK1jkZd3AndOXlGA6mifMTBZUwvmbcc6qdw==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>


