<html>

  <body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_259981" href="/books/259981">Show</a></td>
        <td><a class="edit_259981" href="/books/259981/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259981" rel="nofollow" data-method="delete" href="/books/259981">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_259982" href="/books/259982">Show</a></td>
        <td><a class="edit_259982" href="/books/259982/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259982" rel="nofollow" data-method="delete" href="/books/259982">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_259983" href="/books/259983">Show</a></td>
        <td><a class="edit_259983" href="/books/259983/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259983" rel="nofollow" data-method="delete" href="/books/259983">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_259984" href="/books/259984">Show</a></td>
        <td><a class="edit_259984" href="/books/259984/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259984" rel="nofollow" data-method="delete" href="/books/259984">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_259985" href="/books/259985">Show</a></td>
        <td><a class="edit_259985" href="/books/259985/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259985" rel="nofollow" data-method="delete" href="/books/259985">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_259986" href="/books/259986">Show</a></td>
        <td><a class="edit_259986" href="/books/259986/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259986" rel="nofollow" data-method="delete" href="/books/259986">Destroy</a></td>
      </tr>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニックです</td>
        <td><a class="show_259980" href="/books/259980">Show</a></td>
        <td><a class="edit_259980" href="/books/259980/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259980" rel="nofollow" data-method="delete" href="/books/259980">Destroy</a></td>
      </tr>
      <tr>
        <td>こんにちは</td>
        <td>今日はいい天気です</td>
        <td><a class="show_259987" href="/books/259987">Show</a></td>
        <td><a class="edit_259987" href="/books/259987/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_259987" rel="nofollow" data-method="delete" href="/books/259987">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="1LoEC9w9Y1YLB+0hY4Ui+mH4tlvC66x49Y+Ht26hheQN3hdnWGoHK1jkZd3AndOXlGA6mifMTBZUwvmbcc6qdw==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>


